<div class="card clean">
  <div class="card-image-container">
    <div *ngIf="showBadge && badgeText" class="card-badge-wrapper">
      <span class="feature-badge">{{ badgeText }}</span>
    </div>

    <img *ngIf="imageSrc" [src]="imageSrc" alt="" />

    <div *ngIf="title && subtitle" class="card-overlay-caption">
      <div class="caption-content">
        <div>
          <h5 *ngIf="title" class="card-title">{{ title }}</h5>
          <h6 *ngIf="subtitle" class="card-subtitle">{{ subtitle }}</h6>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="bodyText" class="card-body">
    <p class="card-text">
      {{ bodyText }}
    </p>
  </div>

  <div class="card-footer">
    <div class="footer-content">
      <div class="footer-left">
        <app-button [label]="'Read More'" [variant]="'primary'" [size]="'small'" (onClick)="onReadMoreClick()">
        </app-button>
      </div>
      <div class="footer-actions">
        <app-button *ngIf="showLikeBtn" [label]="'Like'" [variant]="'primary'" [size]="'small'" (onClick)="onLikeClick()"> </app-button>
        <app-button *ngIf="showShareBtn" [label]="'Share'" [variant]="'primary'" [size]="'small'" (onClick)="onShareClick()"> </app-button>
      </div>
    </div>
  </div>
</div>
